.divhead {
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.divhead h1{
    display: flex;
    color: white;
    font-weight: 500;
    font-size: 7vh;    
}
.divhead h1 img{
    height: 10.5vh;
    
}


.divhead header {
    display: flex;
    align-items: flex-end;
    padding-bottom: 7px;
    gap: 5vw;
}

 .btnactive{
    font-weight: 500;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.781);
    cursor: default;
    transition: all ease;
 }

 .btn{
    font-weight: 500;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.781);
    cursor: pointer;
    transition: all ease;
}


.btn:hover{
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.9);
    transform: translateY(-2%);
    background-color: rgb(160, 160, 160);

    /* transition: all 0.2s; */
} 

