.home{
    display: grid;
    grid-template-columns: repeat(2, auto);
    
}

.home section {
    display: flex;
    
}

.home  img {
    display: flex;
    position: relative;
    top: 15vh;
    left: 5vw;
    height: 45vh;
    width: 30vw;
    border-radius: 25px;
    animation: nombre 4s linear 1s infinite ;
}


@keyframes nombre {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(180deg);
    }
  }


.home p{
    display: flex;
    position: relative;
    font-size: larger;
    font-weight: 600;
    width: 50vw;
    align-self: center;
    top: 9vh;
}