.gral{
    display: flex;
    background-color: rgba(145, 143, 143, 0.432);
    height: 75vh;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 7px;
    width: 25vw;
    height: 50vh;
    margin-left: 37vw;
    margin-top: 7vh;
    background-color: rgba(116, 18, 18, 0.808);


box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.781);
cursor: default;
transition: all ease;
}


.login:hover{
box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.9);
transform: translateY(-2%);

} 


.login form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    
}

.login label{
    font-weight: 500;
}

.login input{
    width: 17vw;
    border-radius: 5px;
}

.login button{
    color: white;
    background-color: black;
    border-radius: 5px;
    height: 5vh;
}

.login button:hover{
    transform: translateY(-2%);
     transition: all 0.2s; 
    box-shadow: 2px 2px 8px rgba(10, 10, 10, 0.5); 
    color: rgb(221, 221, 221);
}