.gral{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

/* .gral h1{
    display: flex;
    position: relative;
    align-self: start;
    right: 25vw;
} */
.divimg{
    display: flex;
    position: relative;
    background-color: rgba(116, 18, 18, 0.808);
    width: 50vw;
    height: 79vh;
    justify-content: center;
    align-items: center;
}



.info{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    
}