.container{
    display: flex;
    position: absolute;
    top: 7vh;
    justify-self: flex-end;
    right: 2vw;
    top: 17vh;
}
.bar{
    display: flex;
    width: 20vw;
    height: 3.5vh;
    font-weight: 500;
    color: rgba(173, 37, 37, 0.849);
    background-color: rgba(131, 130, 130, 0);
    border-radius: 5px;
    border: 2px solid rgba(173, 37, 37, 0.849);
    cursor: pointer;
}

.bar::placeholder{
    /* color: rgba(255, 255, 255, 0.534); */
    color: rgba(158, 32, 32, 0.5);
}
.bar:hover{
    transform: translateY(5%);
     transition: all 0.2s;
     background-color: rgba(36, 36, 36, 0.678);
}
 .bar:focus{
    outline: none;
    /* outline: 0.1px rgba(190, 48, 48, 0.849) solid; */
} 

.btn{
    display: block;
    position: absolute;
    /* justify-content: flex-end;
    text-align: center; */
    z-index: 1;
    border: none;
    /* border-radius: 0.8rem; */
    background-color: transparent;
    color: rgba(173, 37, 37, 0.849);
    font-weight: 400;
    left: 18vw;
    top: 5px;
}

.btn:hover{
    transform: translateY(-2%);
    /* transition: all 0.2s; */
    /* box-shadow: 2px 2px 8px rgba(114, 114, 114, 0.9); */
    color: rgb(221, 221, 221);
}

/* .icon{
    display: flex;
    position: relative;
    justify-self: flex-end;
    align-items: flex-end;
    align-content: flex-end;
   
} */